/*
form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

*/
fieldset {
	display: inline-table;
}
p     { display: table-row; }
label,select,input {
	display: table-cell;
}
}
textarea {
  vertical-align: top;
}
